# SQLite database
db.sqlite3

# Python cache files
__pycache__/
*.pyc

# Django static and media files
static/
staticfiles/
media/

# IDE configs
.idea/
.vscode/

# OS specific files
.DS_Store
Thumbs.db
#env

# Translations
locale

# Django debug toolbar
__debug__